body {
text-align: center;
}
h3 {
  color: #4592AF;

    font-family: 'Sacramento', cursive;
  width:20%;
  font-size: 90px;
  margin: 0 auto 0 auto;
}
.fav{
  text-align: left;
  font-size: 20px;
margin-left: 800px;
}
#tv{
  width:30%;
}
